<div class="container">

<div class="jumbotron">
	<div class="container">
		<h1>Nuevo Blog</h1>
		<p>Encuentra los mejores tips de programación</p>
		<p>
			<%= link_to "nuevo usuario", users_path, class: "btn btn-success"%>
			<%= link_to "Ver los Posts", posts_path, class: "btn btn-default" %>
		</p>
	</div>
</div>

</div>

</div>